.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
node_modules/
test/coverage/
public/dist
src/*.json
*.log
logs
.env
.idea
dist
build/locales/*
build/server/*
!build/server/index.js*
dev.sqlite3
__tests__/files/downloaded*
